.image-card {
  flex: 1;
  min-width: 200px;
  opacity: 0.5;
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto;
}

.image-card {
  opacity: 1;
}

.image-card:hover {
  background-color: #ffffff;
  border-color: #f3f3f3;
}

.image-card img {
  max-width: calc(100%);
  margin: 0 auto;
  display: block;
}
