.images-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.images-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.images-slider .active-slide {
  opacity: 1;
}

.images-slider:after {
  content: "";
  display: block;
  width: 100%;
  height: 264px;
  outline: 5px solid #61dafb;
  position: absolute;
  top: 0;
  left: 0;
}
